<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframeword.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"> 
        <bean id="userDao" class="springdemo.UserDaoImp"/>  
        
         <bean id="damao" class="springdemo.xiangqin.damao.DaMao" >
  <property name="girlfriend" ref="cuihua"></property>  
</bean> 

  <bean id="cuihua" class="springdemo.xiangqin.grilfriend.Cuihua">  
    <property name="hobby" ref="王者荣耀"></property>  
</bean>

</beans>




<!--  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        calsspath:applicationContext.xml
    </param-value>
</context-param>
<listener>
    <listener-class>
        org.springframework.web.context.ContextLoaderListener
    </listener-class>
</listener>-->